@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  width: 100%;
}

section .inner {
  width: 1440px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

section .inner h2 {
  font-size: 50px;
  color: #222;
  font-weight: 700;
}

section .inner p {
  font-size: 20px;
  color: #333;
  font-weight: 500;
  margin-top: 20px;
}

section .inner .tab {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

section .inner .tab li a {
  display: block;
  width: 140px;
  height: 46px;
  border: 1px solid #555;
  line-height: 43px;
  font-size: 20px;
  font-weight: 500;
  color: #555;
  border-radius: 40px;
}

/* hover */
section .inner .tab li a:hover {
  border: 1px solid #ff6400;
  background: #ff6400;
  color: #fff;
}

/* 탭 메뉴 선택 됨 */
section .inner .tab li.on a {
  border: 1px solid #ff6400;
  background: #ff6400;
  color: #fff;
}

/* 탭 메뉴 리스트 */
section .inner .list_wrap .list {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}

section .inner .list_wrap .list li a h3 {
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

.list_wrap2 {
  display: none;
}
